@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --color-black: #3a3a3a;
  --Text-Gray-900: #18191f;
  --gray-50: #787885;
  --Dark-Color: rgba(0, 0, 0, 0.87);
  --color-btn: #e02c6d;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn-common {
  background-color: var(--color-btn);
  font-weight: 700;
  color: #fff;
  padding: 10px 24px;
  border: none;
  transition: 0.5s;
}
.btn-common:hover {
  background-color: var(--Dark-Color);
  color: var(--color-btn);
  box-shadow: 0px 0px 20px 0px rgba(224, 44, 109, 1);
}

.btn-common .arrow {
  padding-left: 8px;
}

/* navigation styles */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.logo {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}
.logo:hover {
  color: var(--color-btn);
}
.menu li {
  list-style-type: none;
  display: inline-block;
  padding-left: 34px;
}
.menu li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-black);
  transition: 0.5s;
}
.menu li a:hover {
  color: var(--color-btn);
  padding: 8px 0;
  border-bottom: 2px solid var(--color-btn);
}

/* Hero styling */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
  min-height: 475px;
  background: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right center;
  margin-bottom:40px ;
}
.hero-title {
  color: var(--color-black);
  font-size: 3.25rem;
  font-weight: 700;
}
.hero-description {
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 16px;
}
.btn-hero {
  border-radius: 2.5rem;
}
.sponsors-logo {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 35px 0;
    margin: 0 auto;
}





/* Mobile Device */
@media only screen and (max-width: 576px) {
  .nav-wrapper {
    flex-direction: column;
    padding: 10px;
  }
  .logo {
    margin-bottom: 5px;
  }
  .menu li {
    padding: 5px;
  }
  .hero {
    flex-direction: column-reverse;
    background-position: top center;
    text-align: center;
    gap: 80px;
  }
  .sponsors-logo{
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 0;
    justify-items: center;
  }
  .sponsors-logo img{
    object-fit: cover;
  }
}

/* Medium Device */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .nav-wrapper {
    flex-direction: column;
    padding: 10px;
  }
  .logo {
    margin-bottom: 5px;
  }
  .menu li {
    padding: 10px;
  }
  .hero {
    flex-direction: column-reverse;
    background-position: top center;
    text-align: center;
    gap: 80px;
  }
  .hero-description {
    padding: 0 50px;
    text-align: center;
  }
}

/* Tablets  */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    padding: 0 20px;
  }
  .hero {
    flex-direction: column-reverse;
    background-position: top center;
    text-align: center;
    gap: 80px;
  }
  .hero-description {
    padding: 0 50px;
  }
}
