@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --color-black: #3a3a3a;
  --Text-Gray-900: #18191f;
  --gray-50: #787885;
  --Dark-Color: rgba(0, 0, 0, 0.87);
  --color-btn: #e02c6d;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* navigation styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
.logo {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 700;
  transition: .3s;
  cursor: pointer;
  text-transform: uppercase;
}
.logo:hover{
    color: var(--color-btn);
}
.menu li {
  list-style-type: none;
  display: inline-block;
  padding-left: 34px;
}
.menu li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-black);
  transition: .5s;
}
.menu li a:hover {
  color: var(--color-btn);
  padding: 8px 0;
  border-bottom: 2px solid var(--color-btn);
}





/* Mobile Device */
@media only screen and (max-width: 576px) {
    .nav-wrapper{
        flex-direction: column;
        padding: 10px;
    }
    .logo{
        margin-bottom: 5px;
    }
    .menu li{
        padding: 5px;
    }
}

/* Medium Device */
@media only screen and (min-width: 576px) and (max-width: 768px ) {
    .nav-wrapper{
        flex-direction: column;
        padding: 10px;
    }
    .logo{
        margin-bottom: 5px;
    }
    .menu li{
        padding: 10px;
    }
}

/* Tablets  */
@media only screen and (min-width: 768px) and (max-width: 992px ) {
    body{
        padding: 0 20px;
    }
}